body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.player {
  margin: 1em 0;
}

.debug {
  margin: 1em 0;
}

.debug pre {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 12px;
  overflow: auto;
}

.debug time {
  color: #888;
  font-size: 12px;
  float: right;
}

.debug form {
  display: inline;
  margin-left: 1em;
}
