html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.player {
  --player-background-color: #333;
  --player-background-image: none;

  align-items: center;
  background-color: var(--player-background-color);
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  height: 100%;
  justify-content: center;
  padding: 2rem;
  position: relative;
  transition: background-color 0.5s ease;
}

.player::before,
.player::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1;
}

.player::before {
  background-image: var(--player-background-image);
  background-position: center;
  background-size: cover;
  filter: blur(12px);
  opacity: 0.2;
}

.player::after {
  background-image: radial-gradient(
    at center,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  );
  /* opacity: 0.7; */
  /* mix-blend-mode: overlay; */
}

.player__container {
  max-width: 600px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.player__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  mix-blend-mode: overlay;
  text-align: center;
  /* mix-blend-mode: difference; */
}
.player__info > :empty {
  display: none;
}
.player__info--title {
  margin: 0 0 0.5rem;
}
.player__info--artist {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.player__info--album {
  margin-bottom: 0.5rem;
  opacity: 0.5;
}

.player__cover {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.player__cover--image {
  background-color: black;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
  max-height: 400px;
  max-width: 400px;
  width: 100%;
}

.player__time {
  margin: 2rem 0 1rem;
}
.player__time--current,
.player__time--duration {
  font-size: 0.8rem;
  opacity: 0.75;
}
.player__time--duration {
  float: right;
}

.player__controls {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0;

  &::before {
    content: "";
    flex: 1;
  }
}
.player__controls .player__button {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 1.5rem;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 1.5rem;
  opacity: 0.75;

  > svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
  }

  &:hover {
    opacity: 1;
  }
}
.player__controls .player__button--play-pause {
  height: 3.2rem;
  width: 3.2rem;

  > svg {
    height: 1.3em;
    width: 1.3em;
  }
}
.player__controls .player__button--play-pause::before {
  /* backdrop-filter: blur(8px); */
  background-color: var(--player-background-color);
  border-radius: 50%;
  content: "";
  inset: 0;
  opacity: 0.5;
  position: absolute;
}
.player__controls .player__button--play-pause-pause {
  display: none;
}
.player__controls .player__button--play-pause.is-playing {
  .player__button--play-pause-play {
    display: none;
  }

  .player__button--play-pause-pause {
    display: inline-block;
  }
}

.player__volume {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  justify-content: flex-end;
}

.player__volume-bar {
  width: 120px;
}

.player__volume-mute {
  display: flex;

  .player__volume-mute-input {
    display: none;

    &:checked {
      ~ .player__volume-mute--mute {
        display: inline-block;
      }

      ~ .player__volume-mute--unmute {
        display: none;
      }
    }
  }

  > svg {
    cursor: pointer;
    fill: white;
    height: 1.1rem;
    opacity: 0.75;
    transition: opacity 0.2s ease;
    width: 1.1rem;
  }

  &:hover > svg {
    opacity: 1;
  }

  .player__volume-mute--mute {
    display: none;
  }
}

/*
Debugging
*/

.debug-button {
  appearance: none;
  background: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  bottom: 1rem;
  color: white;
  cursor: pointer;
  font-size: 0.75rem;
  left: 1rem;
  line-height: 1;
  opacity: 0.5;
  padding: 0.15em 0.4em;
  position: fixed;
  text-transform: uppercase;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

#debug {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  max-width: 1024px;
  padding: 1.5em;
  width: calc(100% - 4rem);
}

#debug::backdrop {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.6);
}

.debug-controls {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

#debug pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 0;
  overflow: auto;
  padding: 1em;
}

#debug time {
  color: #888;
  font-size: 12px;
  margin-left: auto;
}

#debug form {
  display: inline;
  margin-left: 1rem;
}

#debug .close-button {
  align-items: center;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 0.7rem;
  height: 1.2rem;
  justify-content: center;
  padding: 0;
  width: 1.2rem;
}
