.progress-bar {
  --progress-bar-progress: 0%;
  --progress-bar-height: 12px;
  --progress-bar-track-height: 4px;
  --progress-bar-radius: 100vw;
  --bg-color: hsla(0, 0%, 100%, 0.3);
  --fg-color: #fff;
  --is-active-fg-color: #1db954;

  background-color: var(--color-primary);
  cursor: pointer;
  height: var(--progress-bar-height);
  position: relative;
}

.progress-bar:hover,
.progress-bar.progress-bar--scrubbing {
  .progress-bar__thumb {
    display: block;
  }
}

.progress-bar.progress-bar--disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.progress-bar__track {
  background-color: var(--bg-color);
  border-radius: var(--progress-bar-radius);
  display: flex;
  height: var(--progress-bar-track-height);
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.progress-bar__progress {
  background-color: var(--fg-color);
  height: var(--progress-bar-track-height);
  width: var(--progress-bar-progress);
}

.progress-bar__thumb {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: none;
  height: var(--progress-bar-height);
  left: var(--progress-bar-progress);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--progress-bar-height);
}
